// --- Colors
$color-main: #F6F8FC;
$color-main-background: #F6F8FC;
$color-main-content: #16191D;
$color-secondary-content: #586F8F;

$color-primary: #191C21;
$color-secondary: #586F8F;
$color-success: #3FE5A0;
$color-info: #24DAF2;
$color-warning: #e6a115;
$color-danger: #F03641;
$color-light: #A1B1C3;
